

<template name="adminList">
    <div class="w3-padding w3-display-topmiddle" >
        <table class="w3-table-all w3-centered w3-animate-top">
            <tr>
                <th>Rank</th>
                <th>Group Name</th>
                <th>Points</th>
            </tr>
            {{#each groups}}
                <tr>
                    <td>{{rank}}</td>
                    <td>{{groupName}}</td>
                    <td>{{points}}</td>
                </tr>
            {{/each}}
        </table>
        <form class="add-group">
            Group Name:<br>
            <input type="text" name="groupName">
            <br>
            <input type="submit" value="Add Group">
        </form>
        <form class="add-points">
            Group Name:
            <input type="text" name="groupName">
            <br>
            Points to add:
            <input type="text" name="points">
            <br>
            <input type="submit" value="Add Points">
        </form>
    </div>
</template>