<template name="groupList">
    <div class="w3-padding w3-display-topmiddle" >
        <table class="w3-table-all w3-large w3-card-4 w3-centered w3-animate-top">
            <tr class="w3-khaki">
                <th>נקודות</th>
                <th>שם קבוצה</th>
                <th>מעמד</th>
            </tr>
            {{#each groups 12}}
                <tr>
                    <td>{{getGroupPoints points admin_extra}}</td>
                    <td dir="rtl">{{groupName}}</td>
                    <td>{{rank}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>
