<head>
  <title>Moona Center</title>
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
</head>

<body>
  {{> game_state}}
</body>




<template name="game_state">
{{#if Template.subscriptionsReady}}
    <div class="w3-display-container" id="myvideo" style="width:100%;height:100%">
        <img src={{backgroundPic}} id="image" style="width:100%;height:100%">
        {{> groupList}}
    </div>
{{/if}}
</template>
